/* Copyright Cannibal_Athens (http://www.fonts.gr) */


@font-face {
    font-family: 'FreeScript-Bold';
    src:url('FreeScript-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}